.card-container{
    width: 100% auto;
    height:50vh;
    border:1.5px solid black;
    border-radius:5px;
    background-size:100vw;
    background-position: 100vw 100vh;
    display:content;
    justify-content: center;
    align-items:center;
    box-shadow: 0 0 50px;
    
    
}
#header-container{
    color: black;
    font-size: 3rem;
    padding-top: 3vh;
    padding-left: 3vw;
    font-family:"Roboto";
}
#card-paragragh{
    color:black;
    margin-left: 3.5rem;
    margin-top: -6vh;
    padding-top: 8vh;
    font-size: 29px;
    font-family:"Roboto";
    text-align:left;
    line-height: 1.5;
    padding-right: 3.5vw;
    

}
