.button-container{
    display: inline-flex;
    border-style:none;
    justify-content:center;
    align-items:center;
    display:flex;
    margin:auto;
    
}
.button{
    padding:20px 50px;
    cursor: pointer;
    border-color:rgb(179, 176, 176);
    border-style:solid;
    text-align:center;
    
}
.button:first-child{
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
    border-color: rgb(179, 176, 176);
}
.button:last-child{
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    border-color:rgb(179, 176, 176);
}


.button:hover{
    background-color:lightgrey;
    border-color:black;
}


#tick-one{
    position:absolute;
    left:565px;
    top:605px;
    color:green;
    
}
#tick-two{
    position:absolute;
    left:727px;
    top:605px;
    color:green;
}
#tick-three{
    position:absolute;
    left:920px;
    top:605px;
    color:green;
}


