.app-header{
    padding: 5px;
    background-color: #06283D;
    height: 50px;
}
#vayuhastra-logo{
    border: 2px solid whitesmoke;
    border-radius: 10px;
    height: 30px;
    width: 120px;
    object-fit: contain;
    margin: 5px;
    margin-left: 20px;
    cursor: pointer;
}
#vayuhastra-logo:active{
    scale: 0.9;
}