.app-header {
  padding: 5px;
  background-color: rgb(0, 0, 0);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-side-app-header{
  display: flex;
  align-items: center;
}
.revalogo{
  height: 40px;
  margin: 0 0 0 20px;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}
.title{
  color: white;
  margin-left: 10px;
  font-family: sharpSansBold;
}