.nav-container {
  width: 100px;
  background-color: #81c784;
  height: 100vh;
  position: relative;
}
.nav-bottom-container {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .nav-container {
    display: none;
  }
}
