/* importing fonts */
@font-face {
    font-family: sharpSansBold;
    src:url("../public/fonts/SharpSansBold.otf");
  }
  
  @font-face {
    font-family: euclidCircularBMedium;
    src:url("../public/fonts/EuclidCircularBMedium.ttf");
  }

.app-container{
    display: flex;
}
.section-2{
    width: 100%;
    overflow: hidden;
}
